{% extends "base.html" %}

{% block content %}

<h1>공모전 목록</h1>

<hr>
{% comment %} 
필터링 버튼 생성 예정 ( 토글과 리스트 중 선택 두 가지 혼용할 듯)

<form action="#" method="GET">

<input type="checkbox" name="region" id="region" value="국가">  True or False
<input type="checkbox" name="region" id="region" value="사설">  True or False
<input type="text" name="keyword" id="keyword">
<input type="submit" value="검색">
</form>

{% endcomment %}

{% for contest in contests %}
    {{ contest }}
{% endfor %}

{% endblock content %}